@model Chat.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SiteStyle.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.1.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script>
        $(document).ready(function () {

            $.getJSON('/api/ChatApi/GetAllUsers').done(function (data) {
                $.each(data, function (key, item) {
                    $('#onlineUsers').append('<div id="' + item + '">' + item +  '</div>');
                });
            });

            $('#chat-message').on("keyup", function (e) {
                var code = e.which;
                if (code == 13) {
                    $('#sendmessage').click();
                }
            });

            var chat = $.connection.chatHub;

            chat.client.broadcastMessage = function (name, message) {
                var listItem = '<span class="red">' + name + "</span><span>: " + message + '</span><br />';
                var body = $('#chatBody');
                body.append(listItem);
                body.scrollTop(body.prop("scrollHeight"));
            };

            var displayName = "@Model.Username";
            $('#chat-message').focus();

            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    if ($('#chat-message').val().length > 0) {
                        chat.server.send(displayName, $('#chat-message').val());
                        $('#chat-message').val('').focus();
                    }
                });
            });

            //UserLogIn
            chat.client.broadcastUserLogIn = function (username) {
                $('#onlineUsers').append('<div id="' + username + '">' + username + '</div>');
            };

            //UsetLogOut
            chat.client.broadcastUserLogOut = function (username) {
                $('#' + username).remove();
            };

            //KeepAlive
            setInterval(function () {
                $.post('/api/ChatApi/KeepAlive', { '': '@Model.Username' });
            }, 30000);
        });

    </script>

</head>
<body class="bodyMargin">
    <div class="container">
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Online Users</h3>
                </div>
                <div id="onlineUsers" class="panel-body">
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Chat</h3>
                </div>
                <div id="chatBody" class="panel-body" style="height: 500px; overflow: auto;">
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-10">
                            @Html.TextBox("chat-message", null, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-2">
                            <input type="button" id="sendmessage" value="Send" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-10">
                @Html.ActionLink("LogOut", "LogOut", "Chat", new {@class="btn btn-danger"})
            </div>
        </div>
    </div>
</body>
</html>
