@model Chat.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SiteStyle.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.1.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    
    @*Core chat script*@
    <script src="~/Scripts/chat.js"></script>
    <script>
        displayName = "@Model.Username";
    </script>
</head>
<body class="bodyMargin">
    <div class="container">
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Online Users</h3>
                </div>
                <div id="onlineUsers" class="panel-body" data-bind="foreach: users">
                    <div data-bind="text: $data"></div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Chat</h3>
                </div>
                <div id="chatBody" class="panel-body" style="height: 500px; overflow: auto;" data-bind="foreach: chatBody">
                    <span class="red" data-bind="text: name"></span><span>: </span><span data-bind="text:message"></span><br />
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-10">
                            @Html.TextBox("chat-message", null, new { @class = "form-control", @data_bind = "value: message, valueUpdate: 'afterkeydown', event:{ keyup: ChatMessageKeyup }, hasfocus: true"})
                        </div>
                        <div class="col-lg-2">
                            <input type="button" id="sendmessage" value="Send" class="btn btn-primary" data-bind="click: SendMessage, enable: message().length > 0" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-10">
                @Html.ActionLink("LogOut", "LogOut", "Chat", new {@class="btn btn-danger"})
            </div>
        </div>
    </div>
</body>
</html>
